.Foreword{
    padding: 20px;
    color : #422c27;
    font-size : 1.2em;
    background: #f2efed;
    text-align: right;
    overflow: hidden;
    padding: 20px;
}

.Foreword img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,.7);
}
.Foreword p{
    border-radius: 30px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-shadow: -5px 3px 10px rgba(0,0,0,.5);
    position: relative;
}
.Foreword p::after{
    content: "";
    display: block;
    position: absolute;
    right: -40px;
    top : 10%;
    border-top : 18px solid transparent;
    border-bottom:  18px solid transparent;
    border-left: 40px solid #c0cad8;
    border-radius: 50%;
    width: 0px;
    height: 0px;
}
.Foreword figure{
    display: inline-block;
}
.Foreword figcaption{
    text-align: center;
}