.Foreword{
    margin: 20px 0px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    color : #422c27;
    font-size : 1.2em;
    text-align: right;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
    perspective: 1000px;
}
.Foreword p{
    display: inline-block;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    box-shadow: 0px 3px 10px rgba(0,0,0,.5);
}
.Foreword .fore-text{
    transition: transform 1s ease-in-out;
}
.Foreword .fore-text:nth-child(odd){
    text-align: left;
    transform: rotate3d(0,1,0,-90deg);
}
.Foreword .fore-text:nth-child(2){
    transform: rotate3d(0,1,0,90deg);
    text-align: right;
}
.Foreword .fore-text:nth-child(2).active{
    transform: rotate3d(0,1,0,0deg);
}
.Foreword .fore-text:nth-child(odd).active{
    transform: rotate3d(0,1,0,0deg);
}