
.NavMenu nav{
    margin: 0;
    border-bottom: 1px solid #ccc;
}
.NavMenu nav ul{
    margin: 0;
   
}
.NavMenu nav li{
    padding: 5px;
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
    border:1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}
.NavMenu nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    text-shadow:0px 1px 0px #fff;
    outline: none;
}