
.Album-show-enter {
    opacity: 0.01;
}

.Album-show-enter.Album-show-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.Album-show-leave {
    opacity: 1;
}

.Album-show-leave.Album-show-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}